@model MPM.FLP.FLPDb.SPDCPointHistories

@{
    ViewData["Title"] = "PointHistories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>Point Histories</h2>
            </div>
            <div class="body">
                @(Html.Kendo().Grid<MPM.FLP.FLPDb.SPDCMasterPoints>()
                              .Name("grid")
                              .ToolBar(tools =>
                              {
                                  tools.Custom().Text("Tambah Points Baru").HtmlAttributes(new { Href = Url.Action("CreatePoints", "MasterPoints") });
                              })
                              .DataSource(dataSource => dataSource
                                  .Custom()
                                  .ServerFiltering(true)
                                  .Type("aspnetmvc-ajax")
                                  .Transport(transport => transport
                                                .Read(read => read.Action("Grid_ReadPoints", "MasterPoints"))
                                                .Destroy(destroy => destroy.Action("Grid_DestroyPoints", "MasterPoints"))
                                    )
                                  .Schema(schema => schema
                                    .Model(m => m.Id("id"))
                                    .Parse(@<text>
                                                function(response) {
                                                return response.result;
                                                }
                                    </text>)
                           .Data("data")
                           .Total("total")
                           )
                         )
                      .Columns(columns =>
                      {
                          columns.Bound(typeof(string), "title").Title("Nama");
                          columns.Bound(typeof(string), "weight").Title("Nilai");
                          columns.Template("<button class='btn btn-primary waves-effect' onclick='goToHistoryPage(\"#=data.id#\")'><span>Point History</span></button>").Width(40);
                          columns.Command(commands =>
                                                             {
                              commands.Custom("Edit").Text(" ").HtmlAttributes(new { @class = "btn btn-primary", @style = "color:white;", @title = "View" }).IconClass("glyphicon glyphicon-cog").Click("goToEditPage");
                              //commands.Custom("Attachment").Text(" ").HtmlAttributes(new { @class = "btn btn-warning", @style = "color:white;", @title = "Tautan" }).IconClass("glyphicon glyphicon-file").Click("goToAttachmentPage");
                              commands.Destroy().Text(" ").HtmlAttributes(new { @class = "btn btn-danger", @style = "color:white;", @title = "Hapus" }).IconClass("glyphicon glyphicon-trash");
                          }).Width(250);
                      })
                   .Pageable()
                   .Sortable()
                )

                @*<div class="form-group">
            <button type="button" id="btnSubmit" value="Create" class="btn btn-primary">Tambah</button>
            <button class="btn btn-default" onclick="backToIndex()">Kembali</button>
        </div>*@
            </div>
            <div class="footer">
                
            </div>
        </div>
    </div>
</div>

<script>
    
    $(function () {
        $('#templateBtn').click(function () {
            window.location.href = '@Url.Action("DownloadTemplate", "SalesIncentivePrograms", Model)';
        });

    });

    $(document).ready(function () {

        $('form').submit(function (event) {

            event.preventDefault();            

            abp.ui.setBusy();

            var formdata = new FormData($('#formCreate').get(0)); 

            $.ajax({
                type: "POST",
                url: '@Url.Action("InsertIncentiveUser", "SalesIncentivePrograms")',
                data: formdata,
                dataType: "json",
                processData: false, 
                contentType: false, 
                success: function (response) {
                    alert("Data berhasil ditambahkan");
                    abp.ui.clearBusy();
                    window.location.href = '@Url.Action("Index", "SalesIncentivePrograms")';
                }
            });     
        }); 
    });

    function backToIndex() {
       window.location.href = '@Url.Action("Index", "SalesIncentivePrograms")';
        //window.history.back();
    };

    
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


