@*@model MPM.FLP.FLPDb.SalesTalks*@
@model MPM.FLP.FLPDb.HomeworkQuizzes
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>Edit Homework Quiz Programs</h2>
            </div>
            <div class="body">
                @using (Html.BeginForm("Edit", "HomeworkQuiz", FormMethod.Post, new { id = "formCreate", enctype = "multipart/form-data" }))
                {
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="Title" class="control-label">Judul</label><br />
                        <input asp-for="Title" id="txtTitle" class="k-textbox" style="width:100%" required />
                        <input asp-for="CreatorUsername" hidden />
                        <input asp-for="CreationTime" hidden />
                        <input asp-for="FeaturedImageUrl" hidden />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TotalQuestion" class="control-label">Jumlah Pertanyaan</label><br />
                        <input type="number" asp-for="TotalQuestion" min="0" id="txtIncentive" class="k-textbox" style="width:100%" required />
                        @*<span asp-validation-for="Title" class="text-danger"></span>*@
                    </div>
                    <div class="form-group">
                        <label asp-for="Duration" class="control-label">Durasi (Detik)</label><br />
                        <input type="number" min="0" asp-for="Duration" id="txtIncentive" class="k-textbox" style="width:100%" required />
                        @*<span asp-validation-for="Title" class="text-danger"></span>*@
                    </div>
                    <div class="form-group">
                        <label asp-for="MinimalScore" class="control-label">Minimal Score</label><br />
                        <input type="number" min="0" asp-for="MinimalScore" id="txtMinScore" class="k-textbox" style="width:100%" required />
                        @*<span asp-validation-for="Title" class="text-danger"></span>*@
                    </div>
                    <div class="form-group">
                        <label asp-for="StartDate" class="control-label">Tanggal Mulai</label><br />
                        <kendo-datepicker for="StartDate" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EndDate" class="control-label">Tanggal Berakhir</label><br />
                        <kendo-datepicker for="EndDate" />
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label"> Gambar </label>
                        <br />
                        @(Html.Kendo().Upload()
                            .Name("images")
                            .Multiple(false)
                            .Validation(validation => validation.AllowedExtensions(new string[] { ".jpeg", ".jpg", ".png" }))
                        )
                        <br />
                        <img src="@Model.FeaturedImageUrl" height="320" width="240" />
                    </div>
                    <div class="form-group">
                        <label asp-for="IsPublished" class="control-label"> Tampilkan ?</label>
                        <div class="checkbox">
                            <div class="switch">
                                <label>OFF<input asp-for="IsPublished" type="checkbox"><span class="lever"></span>ON</label>
                            </div>
                        </div>
                        <span asp-validation-for="IsPublished" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" id="btnSubmit" value="Ubah" class="btn btn-primary" />
                        <input type="button" id="btnBack" class="btn btn-default" onclick="backToIndex()" value="Kembali">
                    </div>
                }

            </div>
        </div>
        
        <script>
            function submitForm() {
                $("#form").submit();
            }
            function backToIndex() {
                window.location.href = '@Url.Action("Index", "HomeworkQuiz")';
            }
            function GetMyImage(image)
            {
                var returnString = 'No Image Found';

                // just checking to see if we have a name for the image
                if (image != null && image.length > 0) {
                    returnString = "<img class='image img-responsive' src=" + image + " title=" + image + " width='100' height='100' alt=" + image + " />";
                    return returnString;
                } else
                    return "";
            }        
            $(document).ready(function () {

                $('form').submit(function (event) {

                    event.preventDefault();            

                    var formdata = new FormData($('#formCreate').get(0)); 
                    var title = $("#txtTitle").val();
                    var startDate = $("#StartDate").val();
                    var endDate = $("#EndDate").val();

                    if (title.trim() == "") {
                        alert("Judul masih kosong");
                        abp.ui.clearBusy();
                    } else
                    if (new Date(startDate) > new Date(endDate)) {
                        alert("Tanggal mulai tidak bisa lebih dari tanggal akhir");
                        abp.ui.clearBusy();
                    } else
                    {
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("Edit", "HomeworkQuiz")',
                            data: formdata,
                            dataType: "json",
                            processData: false, 
                            contentType: false, 
                            success: function (response) {
                                abp.ui.clearBusy();
                                window.location.href = '@Url.Action("Index", "HomeworkQuiz")';
                            }   
                        });  
                
                    }
                
                }); 

            });
        </script>
    </div>
</div>

<script>

    $(function() {
        // The Name() of the Grid is used to get its client-side instance.
        var SalesTalkAttachments = $("#SalesTalkAttachments").data("kendoGrid");
    });

</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
